
*.xcbkptlist

Delphos.xcodeproj/project.xcworkspace/xcuserdata/admin.xcuserdatad/UserInterfaceState.xcuserstate

Delphos.xcodeproj/xcuserdata/babu.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

Delphos.xcodeproj/project.xcworkspace/xcuserdata/babu.xcuserdatad/UserInterfaceState.xcuserstate
